= simple_form_for @question, remote: true, html: { id: "edit-question" } do |f|
  .question-errors
  = f.input :title
  = f.text_area :body
  %p Attachment (_form):
  = f.simple_fields_for :attachments do |a|
    = a.file_field :file, label: 'File:'
  = f.button :submit, 'Save'
