#question
  %h2 #{@question.title}
  %p Author: #{@question.user.email}
  %p #{@question.body}
  - if current_user && current_user.author_of?(@question)
    = link_to 'Edit question', '', class: 'edit-question-link'
    = link_to 'Delete question', question_path(@question), method: :delete
    = render 'form'
