%h2 #{@question.title}
%p Author: #{@question.user_id}
%p #{@question.body}
%hr
#answers
  = render 'answers', question: @question

%h2 Add Answer
- if @answer && @answer.errors.any?
  %h2 Some errors:
  %ul
    - @answer.errors.full_messages.each do |error|
      %li= error

= render partial: 'answers/form', locals: { question: @question, answer: @answer }

%hr
= link_to 'Back to questions list', root_path
- if current_user && current_user.author_of?(@question)
  = link_to 'Delete question', question_path(@question), method: :delete
