%h2 #{@question.title}
%p Author: #{@question.user_id}
%p #{@question.body}
%hr
- if @question.answers.present?
  %h3 Answers:
  %ul
  - @question.answers.each do |answer|
    %li #{answer.body}
    - if (current_user == answer.user)
      = link_to 'Delete answer', question_answer_path(@question, answer), method: :delete
- else
  %h3 No answers yet.
%hr
= link_to 'Answer this question', new_question_answer_path(@question)
= link_to 'Back to questions list', root_path
- if (current_user != nil) && (@question.user_id == current_user.id)
  = link_to 'Delete question', question_path, method: :delete
