%h2 #{@question.title}
%p Author: #{@question.user.email}
%p #{@question.body}
%hr
%h3 Answers:
#answers
  = render @question.answers

%h2 Add Answer
= render partial: 'answers/form', locals: { question: @question, answer: @answer }

%hr
= link_to 'Back to questions list', root_path
- if current_user && current_user.author_of?(@question)
  = link_to 'Delete question', question_path(@question), method: :delete
