.row
  .col-md-10.col-md-offset-1
    %div{id: "question#{@question.id}", class: 'question'}
      = render @question
      %hr
      %p Comments:
      #question-comments
        = render @question.comments.order('created_at')
        .comments-form
          = render 'comments/form', commentable: @question
      - if current_user
        = link_to 'Add comment', '', class: 'add-comment-link'
    %hr
    %h3 Answers:
    #answers{"data-question-id" => "#{@question.id}"}
      = render @question.answers.best_first
    .row
      .col-md-6
        .panel.panel-primary
          .panel-heading
            %h2 Add Answer
          .panel-body
            = render 'answers/form'
    %hr
    = link_to 'Back to questions list', root_path

= subscribe_to "/questions/#{@question.id}/answers"
