.row
  .col-md-10.col-md-offset-1
    = render @question
    %hr
    %h3 Answers:
    #answers{"data-question-id" => "#{@question.id}"}
      = render @question.answers.best_first
    .row
      .col-md-6
        .panel.panel-primary
          .panel-heading
            %h2 Add Answer
          .panel-body
            = render 'answers/form'
    %hr
    = link_to 'Back to questions list', root_path

= subscribe_to "/questions/#{@question.id}/answers"
