= form_for [@question, @answer], remote: true, html: { id: "edit-answer-#{@answer.id}" } do |f|
  .answer-errors
  = f.text_area :body, label: false, placeholder: 'Answer'
  = f.fields_for :attachments do |a|
    = render 'attachments/form', f: f
  = f.submit 'Save answer'
