%nav.navbar.navbar-default.navbar-static-top
  .container
    .navbar-header
      %a.navbar-brand{:href => "http://localhost:3000"} Thinknetica course
      = render 'search/form'
    #navbar.navbar-collapse.collapse
      %ul.nav.navbar-nav.navbar-right
        - if user_signed_in?
          %li.active
            %a
              = current_user.email
          %li
            = link_to 'Sign out', destroy_user_session_path, method: :delete
        - else
          %li
            = link_to 'Sign in', new_user_session_path
          %li
            = link_to 'Sign up', new_user_registration_path
.container
  = render partial: 'layouts/partials/flash_messages', flash: flash
